fastapi
uvicorn[standard]
pydantic
pydantic[email]
sqlalchemy
python-multipart
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]
razorpay
psycopg2-binary
requests
email-validator
google-generativeai
python-dotenv
aiofiles
groq
firebase-admin
google-auth
